* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}

body {
    display: flex;
    flex-direction: column;
}

.head {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

h3 {
    color: #F9FAF8;
    font-size: 24px;
}

.hero-sec {
    color: #E5E7EB;
    font-size: 18px;
}

.head-top, .head-bottom {
    margin: 20px 200px;
    gap: 50px;
}

.head-top {
    display: flex;
    justify-content: space-between;
}

.head-bottom {
    display: flex;
    gap: 100px;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.head-left, .head-right {
    width: 50%;
    margin: 75px 0px;
}

.head-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.head-right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    color: #1F2937;
}

button {
    background-color: #3882F6;
    color: #e5e7eb;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    font-weight: 800;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
    gap: 40px;
}

h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
    gap: 20px;
}

.content-bottom {
    display: flex;
    gap: 50px;
}

.content-box {
    height: 140px;
    width: 140px;
    border-radius: 10px;
    border: 3px solid #3882F6;
}

.content-text {
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 20px 350px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-author {
    font-size: 24px;
    font-weight: 800;
    align-self: flex-end;
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-container {
    margin: 50px 200px;
    padding: 35px 100px;
    border-radius: 10px;
    background-color: #3882F6;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}

.signup {
    border: 1px solid white;
}